@import '../../scss/variable';

.right-box {
  flex-basis: 68%;
  background: $color-secondary;
  padding: 4rem 4rem;
  overflow-y: auto;
}

.change-scale {
  display: flex;
  justify-content: flex-end;

  .btn {
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: #585676;
    border-radius: 54px;
  }

  .celcius {
    margin-right: 1rem;
  }

  .active {
    background: #e7e7eb;
  }
}

.foreCast5 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  margin-top: 6rem;
  grid-gap: 3rem;
}
